@font-face {
    font-family: 'digital-7';
    src: url('../Fonts/digital-7.ttf');
}

@font-face {
    font-family: 'gt_america';
    src: url('../Fonts/gt-america-standard-regular.ttf');
}

body { 
    background-color: black;
    font-size: 1.0em;
}

text {
    fill: white;
    font-family: gt_america;
    font-size: 0.8em;
}

.stormax {
  fill: green;
}

path { 
    /*stroke: steelblue;*/
    stroke: red;
    stroke-width: 2;
    fill: none;
}

.line2 { 
    /*stroke: salmon;*/
    stroke: green;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    /*stroke: grey;*/
    stroke: white;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#container
{
    width: 800px;
    height: 600px;
    /*border-width: 3px;
    border-color: black;
    border-style: solid;*/
    overflow: hidden;
    white-space: nowrap;
}

#box1
{
    width: 180px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    clear:both;
}

#score1
{
    /*
    margin-top: 40px;
    font-size: 80px;
    color: red;
    text-align: center;
    font-family: digital-7;
    */
}

#label1
{
    margin-top: 10px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#box4
{
    width: 180px;
    height: 250px;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    clear:both;
}

#label4
{
    margin-top: 10px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#store1
{
    margin-top: 40px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
}

#container2
{
    overflow: hidden;
    display: inline-block;
    float: left;
}

#box2
{
    width: 395px;
    height: 300px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    display: inline-block; 
}

#label2
{
    margin-top: 0px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#container3
{
    overflow: hidden;
    display: inline-block;
    float: right;
}

#box3
{
    width: 180px;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    clear:both;
}

#score2
{
    /*
    margin-top: 40px;
    font-size: 80px;
    color: red;
    text-align: center;
    font-family: digital-7;
    */
}

#label3
{
    margin-top: 10px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#box5
{
    width: 180px;
    height: 250px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    clear:both;
}

#label5
{
    margin-top: 10px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#store2
{
    margin-top: 40px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
}

#box6
{
    width: 395px;
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    clear:both;
}

#label6
{
    margin-top: 40px;
    margin-left: 70px;
    text-align: center;
    font-family: gt_america;
    color:white;
}

#container4
{
    overflow: hidden;
    display: inline-block;
    float: left;
}

#logo img
{
    margin-top: 20px;
    margin-left: 30px;
    width: 70%;
    height: auto;
}

#time
{
    margin-top: 0px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
}

#karma
{
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    font-family: gt_america;
    color:white;
    overflow: hidden;
    clear:both;
}

#karma1
{
    text-align: center;
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#karma2
{
    text-align: center;
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#karma3
{
    text-align: center;
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#karma1_value
{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#karma2_value
{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#karma3_value
{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: digital-7;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#karma1_label
{
    /*margin-top: 10px;*/
    margin-left: 50px;
    text-align: center;
    font-family: gt_america;
    color:white;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#karma2_label
{
    /*margin-top: 10px;*/
    margin-left: 50px;
    text-align: center;
    font-family: gt_america;
    color:white;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#karma3_label
{
    /*margin-top: 10px;*/
    margin-left: 50px;
    text-align: center;
    font-family: gt_america;
    color:white;
    /*border-width: 1px;
    border-color: white;
    border-style: solid;
    */
}

#grid_label
{
    color:red;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

#storage_label
{
    color:green;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-left: 10px;
}

#grid_value
{
    color:white;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

#storage_value
{
    color:white;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

#karma_label
{
    color:white;
    margin-top: 25px;
    margin-bottom: 10px;
}